iframe {
    width:30vw;
    height:25vw;
    margin-right: 3.25vw;
    margin-left: 4.75vw;
}
#outer{
    align-content: center;
}
button {
    background-color: rgb(238,238,238);
    border-radius: 3px;
    border: 3px solid rgb(137, 125, 238);
    padding: 0.5vw;
    font-size: 1vw;
    margin-left: 4.75vw;
}
#webcam {
    display: none;
}