<div *ngIf="display_video" id="outer">
  <div fxLayout="row">
    <iframe [src]="link" fxLayoutAlign="center center" frameborder="0" allowfullscreen="1" autoplay="1"></iframe>
  </div>
  <button (click)="playNextVideo()">Play next</button>
  <!-- <ul *ngIf="loaded">
        <li *ngFor="let video of videos">{{video.url}}</li>
    </ul>  -->
    <div id="webcam">
      <webcam [height]="400" [width]="400" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
        *ngIf="showWebcam" [videoOptions]="videoOptions" [imageQuality]="1" (initError)="handleInitError($event)"></webcam>
      <div class="snapshot" *ngIf="webcamImage">
        <img [height]="150" [src]="webcamImage.imageAsDataUrl" />
      </div>
    </div>
</div>
<div *ngIf="!display_video" id="starting_button">
  <button (click)="startWatching()">Start watching!</button>
</div>
